<footer class="footer mt-5">
    <div class="f-info">

        <div class="f-info-socials">
            <a href="https://www.instagram.com" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a href="https://www.facebook.com" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a href="https://www.linkedin.com" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>

            <a href="https://twitter.com" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>

        <div class="f-info-brand">
            © 2026 StayNest Private Limited
        </div>

        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
            <span>|</span>

            <a href="/terms">Terms & Conditions</a>
            <span>|</span>

            <a href="/explore">Explore Stays</a>
            <span>|</span>

            <a href="/about">About Us</a>
            <span>|</span>

            <a href="/help">Help Center</a>
        </div>

    </div>
</footer>