<% layout('layouts/boilerplate.ejs') %>
<div class="container mt-5">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error 404!</strong> Page Not Found.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>

  <a href="/" class="btn btn-primary mt-3">Go Back Home</a>
</div>