<% layout("layouts/boilerplate") %>

<div class="container py-5">

<h1>About StayNest</h1>

<hr>

<p>

StayNest is an Airbnb-inspired accommodation platform developed using the MERN stack.

</p>

<p>

Users can explore properties, make secure bookings, leave reviews, and enjoy a seamless travel experience.

</p>

</div>