<% layout('layouts/boilerplate') %>

<div class="container py-5">

<h1>Explore StayNest</h1>

<p>
Discover amazing destinations across India.
</p>

<div class="row mt-4">

<div class="col-md-4">

<h4>🏖 Beaches</h4>

<p>Goa, Pondicherry, Gokarna</p>

</div>

<div class="col-md-4">

<h4>🏔 Mountains</h4>

<p>Manali, Shimla, Leh</p>

</div>

<div class="col-md-4">

<h4>🏙 Cities</h4>

<p>Mumbai, Delhi, Bengaluru</p>

</div>

</div>

</div>