<% layout("layouts/boilerplate") %>

<div class="container py-5">

<h1>Help Center</h1>

<hr>

<h4>Frequently Asked Questions</h4>

<p>

Need assistance with bookings, payments or cancellations?

</p>

<p>

Email:
support@staynest.com

</p>

<p>

Phone:
+91 8928315981

</p>

</div>